* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #00e2ff;
}


header{
    background-color: black;
    
}

nav{
    z-index: 9999;
    box-shadow: white 4px 4px 40px;
    position: fixed;
    width: 100%;
    height: 10%;
    margin: auto;
    font-family: saira Stencil one;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    justify-content: space-between;
}

nav .mainMenu{
    width: 100%;
    margin: auto;
    padding-bottom: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

nav .mainMenu li a{
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 1.5rem;
    font-family: 'Saira Stencil One',
    cursive;
    
}

.highlight{
    border-bottom: solid rgb(255, 255, 255) 2px;
}

nav .mainMenu li a:hover {
    background: rgb(255, 255, 255);
    color: black;
}

nav .openMenu{
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}

nav .mainMenu .closeMenu {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

.icons{
    font-size: 1.5em;
    margin-left: 2em;
}

.icons i {
    margin-left: 0.5em;
}

.fa-facebook:hover{
    background: rgb(255, 255, 255);
    color: black;
}

.fa-twitter:hover{
    background: rgb(255, 255, 255);
    color: black;
}

.fa-youtube:hover{
    background: rgb(255, 255, 255);
    color: black;
}

.fa-snapchat:hover{
    background: rgb(255, 255, 255);
    color: black;
}

.fa-users:hover{
    background: rgb(255, 255, 255);
    color: black;
}

.logo img{
    margin-left: 25%;
    cursor: pointer;
    width: 30%;
    
}

/* NAVIGATION */

.backgroundfoto {
    background-image: url(/assets/photos/giphy3.gif);
    background-size: cover;
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infohomepage {
    margin-left: 50px;
}

h1 {
    font-size: 90px;
    color: white;
    font-family: 'Inter',
        sans-serif;
    font-family: 'Lobster',
        cursive;
    font-family: 'Saira Stencil One',
        cursive;
    text-align: center;
}

.flexbox {
    width: 80%;
    height: 500px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #000000be;
}

.flexbox p {
    color: white;
    font-size: 25px;
    padding: 80px;
    padding-top: 100px;
    padding-bottom: 140px;
}

.artikel1 button{
    display: block;
    width: 20%;
    height: 15%;
    margin: auto;
    text-align: center;
    cursor: pointer;
    font-size:24px;
    font-family: 'Saira Stencil One';
    position: relative;
    background-color: #ffffff;
    border: none;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
     
 }
 
 
 
 .artikel1 button:hover{
    background:#fff;
    box-shadow:0px 2px 10px 5px #97B1BF;
    color:#000;
 }
 
 .artikel1 button:after {
     content: "";
     background: #ffffff;
     display: block;
     position: absolute;
 
     opacity: 0;
     transition: all 0.8s
 }
 
 .artikel1 button:active:after {
    
     opacity: 1;
     transition: 0s
 }

.p-button,
.p-button::after {
    position: static;
    width: 380px;
    height: 86px;
    font-size: 36px;
    font-family: 'Bebas Neue', cursive;
    background: linear-gradient(45deg, transparent 5%, #7a1399 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    line-height: 88px;
    box-shadow: 6px 0px 0px #00E6F6;
    outline: transparent;
}

.p-button::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);

    content: 'AVAILABLE NOW';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
    clip-path: var(--slice-0);
}

.p-button:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
}

@keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }

    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }

    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }

    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }

    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }

    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }

    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }

    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }

    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }

    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }

    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}

.artikel1 {
    
    width: 100%;
    margin: auto;
    height: 700px;
    background-image: url(/assets/photos/festivaldj.jpg);
    background-size: cover;
}

.flexbox2 {
    width: 80%;
    margin: auto;
    height: 500px;
    background-color: #000000be;
}


.flexbox2 p {
    color: white;
    font-size: 25px;
    padding: 50px;
    font-family: 'Catamaran', sans-serif;
    font-size: 15px;
}

.artikel2 {
    display: inline;
    background-image: url(/assets/photos/eventshomepage.jpg);
    background-size: cover;
    height: 1000px;
    margin: auto;
    color: white;
    
}
#event-day1{
    background-color: black;
}

#event1, #event2, #event3 {
    
    padding-top: 10em;
    width: 90%;
    margin: auto;
    display: flex;
    order: 2;
    align-items: center;
    justify-content: center;
}

 #event-day2, #event-day3{
    display: none;
   
}

#event-day1 img, #event-day2 img, #event-day3 img{
    
    max-height:90%; 
    max-width:90%;
    overflow: hidden;
    background-size: cover;
    object-fit: fill;
    
}

#event-day1 p, #event-day2 p, #event-day3 p {
    color: rgb(97, 97, 97);
    padding-bottom: 1.1em;
}


#event h2{
    margin-bottom: 2em;
}

#weeks p {
    
    padding: 4em;
    font-size: 1.5em;
    font-family: 'Catamaran', sans-serif;
    margin: auto;
    color: white;
}

.event-text1, .event-text2, .event-text3{
    margin-left: 5em;
    max-width: 35%;
    margin: auto;
    background-color: white;
}



.event-text1 h3, .event-text2 h3, .event-text3 h3{
    padding-top: 1.5em;
    margin-left: 1.5em;
    margin-right: 2em;
    text-align: left;
    font-size: 2em;
    border-bottom: black 2px solid;
    color: black;
    font-family: 'Saira Stencil One',
        cursive;
}


.event-text1 p, .event-text2 p, .event-text3 p{
    line-height: 2em;
    padding-top: 1.5em;
    margin-left: 3em;
    margin-right: 2em;
    text-align: left;
    color: black;
    font-family: 'Catamaran', sans-serif;
}



.event-text1 button, .event-text2 button,  .event-text3 button{
    text-decoration: none;
    color: white;
    display: block;
    margin: 2em;
    padding-left: 1em;
    padding-right: 1em;
    width: 50%;
    height: 100%;
    text-align: center;
    cursor: pointer;
    font-size:24px;
    font-family: 'Saira Stencil One';
    position: relative;
    background-color: #000000;
    border: none;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    
     
 }
 
 
 
 .event-text1 button:hover, .event-text2 button:hover, .event-text3 button:hover{
    background:#fff;
    box-shadow:0px 2px 10px 5px #97B1BF;
    color:#000;
 }
 
 .event-text1 button:after,  .event-text2 button:after, .event-text3 button:after{
     content: "";
     background: #ffffff;
     display: block;
     position: absolute;
     opacity: 0;
     transition: all 0.8s
 }
 
 .event-text1 button:active:after,  .event-text2 button:active:after, .event-text3 button:active:after{
    
     opacity: 1;
     transition: 0s
 }



footer {
    background-color: #7a1399;
    background-image: url(/assets/photos/streetart2.jpg);
    background-size: cover;
}

h2 {
    color: white;
    font-family: 'Inter',
        sans-serif;
    font-family: 'Lobster',
        cursive;
    font-family: 'Saira Stencil One',
        cursive;
    padding-top: 100px;
    text-align: center;

}

.sponsors {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    width: 50%;
}

.sponsor2 {
    width: 40%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sponsor1, .sponsor2, .sponsor3{
    margin: 1em;
}

.flex {
    padding-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000f1;
}

.tekstsponsor {
    color: white;
    font-size: 30px;
    padding: 100px;
    text-align: center;
}

.tekstsponsor p{
    font-family: 'Catamaran', sans-serif;
}

.flex1 {
    width: 80%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 50px;
    padding-top: 100px;

}

.flex1 a {
    color: #d4d4d4;
    text-decoration: none;
    
}

.flex2 {
    width: 30%;
    height: 30px;
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    font-family: 'Catamaran', sans-serif;
}

hr {
    width: 20%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(204, 194, 194, 0), rgba(230, 230, 230, 0.75), rgba(233, 222, 222, 0));
}

@media (min-width: 768px) and (max-width: 1024px){
    .backgroundfoto h2{
        color: green;
    }
}

@media (max-width: 480px) {
    nav{
        height: 17%;
    }

    nav .mainMenu{
        box-shadow: white 0px 0px 0px;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: black;
        transition: top 1s ease;
        display: none;
    }

    nav .mainMenu .closeMenu{
        display: block;
        position: absolute;
        top: 20;
        right: 20px;
    }

    nav .openMenu {
        display: block;
    }

    nav .mainMenu li a:hover{
        background: none;
        color: white;
        font-size: 1.6rem;
    }

    .icons{
        margin-right: 2.5em;
    }

    .icons i{
        
        display: inline-block;
        padding: 12px;
    }

    .logo img{
        margin-left: 0%;
    }


    .backgroundfoto{
        text-align: center;
        width: 100%;
        height: 700px;
        
    }
    .backgroundfoto h2 {
        font-size: 1em;
        margin: 0;
    }

    .backgroundfoto h1 {
        font-size: 3em;
    }

    .backgroundfoto h2:nth-child(3) {
        font-size: 1.3em;
        margin: 0;
    }

    .artikel1 { 

    text-align: center;
    width: 100%;
    height: 1000px;
    background-image: url(/assets/photos/festivaldj.jpg);
    background-size: cover;
    }

    .artikel1 h1{
        font-size: 3em;
        text-align: center;
        
    }
    

    .flexbox2 {
    border-radius: 20px;
    width: 90%;
    height: 500px;
    margin: auto;
    background-color: #000000be;
    }

   .flexbox2 button{
    width: 80%;
    margin: auto;
    text-align: center;
    cursor: pointer;
    font-size:24px;
    
   }

   .flexbox2 button{
    font-family: 'Saira Stencil One';
    position: relative;
    background-color: #ffffff;
    border: none;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
}

.flexbox2 button:hover{
   background:#fff;
   box-shadow:0px 2px 10px 5px #97B1BF;
   color:#000;
}

.flexbox2 button:after {
    content: "";
    background: #ffffff;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.flexbox2 button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}
.artikel2{
    height: 300vh;
    width: 100%;
    padding-top: 3em;
        
 }

   
.artikel1 button{
    width: 80%;
    margin: auto;
    text-align: center;
    cursor: pointer;
    font-size:24px;
        
}
    
    .artikel1 button{
        margin-top: 3em;
        font-family: 'Saira Stencil One';
        position: relative;
        background-color: #ffffff;
        border: none;
        padding: 20px;
        width: 200px;
        text-align: center;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        text-decoration: none;
        overflow: hidden;
    }
    
    .artikel1 button:hover{
       background:#fff;
       box-shadow:0px 2px 10px 5px #97B1BF;
       color:#000;
    }
    
    .artikel1 button:after {
        content: "";
        background: #ffffff;
        display: block;
        position: absolute;
        padding-top: 300%;
        padding-left: 350%;
        margin-left: -20px !important;
        margin-top: -120%;
        opacity: 0;
        transition: all 0.8s
    }

    
    .artikel1 button:active:after {
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s
    }
    

    .tekstsponsor p{
        font-size: 15px;
        font-family: 'Catamaran', sans-serif;
    }

    .sponsors {
    display: inline;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
    width: 50%;

}

    .sponsor1, .sponsor2, .sponsor3 {
    margin: auto;
    width: 80%;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    }

    .sponsor1{
        margin-bottom: 6em;
    }

    .flex2 {
        font-size: 13px;
        font-family: 'Catamaran', sans-serif;
        width: 60%;
        margin: auto;
        height: 30px;
        padding-top: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        color: #fff;
    }
   
    .flex1 a{
        font-size: 0.5em;
    }

    #weeks {

        margin-top: 5em;
        display: inline-block;
        justify-content: center;
        align-content: center;
        
    }

    .week1, .week2, .week3{
        padding-top: 5em;
    }

    #event1, #event2, #event3 {
    
        padding-top: 10em;
        width: 100%;
        margin: auto;
        display: inline-block;
        order: 2;
        align-items: center;
        justify-content: center;
    }
    

    .event-text1, .event-text2, .event-text3{
        margin-left: 5em;
        padding-bottom: 3em;
        max-width: 90%;
        margin: auto;
        background-color: white;
    }

    
    

    .event-text1 button, .event-text2 button,  .event-text3 button{
        text-decoration: none;
        color: white;
        display: block;
        margin: 2em;
        padding-left: 1em;
        padding-right: 1em;
        width: 50%;
        height: 100%;
        margin: auto;
        text-align: center;
        cursor: pointer;
        font-size:24px;
        font-family: 'Saira Stencil One';
        position: relative;
        background-color: #000000;
        border: none;
        text-align: center;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        text-decoration: none;
        overflow: hidden;
         
     }

     #event-day1 img, #event-day2 img, #event-day3 img{
    
        max-height:90%; 
        max-width:100%;
        margin: auto;
        overflow: hidden;
        background-size: cover;
        object-fit: fill;
        
    }

    
}