
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}


/* NAVIGATION */


nav{
    z-index: 9999;
    box-shadow: white 4px 4px 40px;
    position: fixed;
    width: 100%;
    height: 10%;
    margin: auto;
    font-family: saira Stencil one;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
}

nav .mainMenu{
    width: 100%;
    margin: auto;
    padding-bottom: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

nav .mainMenu li a{
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 1.5rem;
}

nav .mainMenu li a:hover {
    background: rgb(255, 255, 255);
    color: black;
}

nav .openMenu{
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}

nav .mainMenu .closeMenu {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

.icons{
    font-size: 1.5em;
    margin-left: 2em;
}

.icons i {
    margin-left: 0.5em;
}

.fa-facebook:hover{
    background: rgb(255, 255, 255);
    color: black;
}

.fa-twitter:hover{
    background: rgb(255, 255, 255);
    color: black;
}

.fa-youtube:hover{
    background: rgb(255, 255, 255);
    color: black;
}

.fa-snapchat:hover{
    background: rgb(255, 255, 255);
    color: black;
}

.fa-users:hover{
    background: rgb(255, 255, 255);
    color: black;
}

.logo img{
    margin-left: 25%;
    cursor: pointer;
    width: 30%;
    
}

.highlight{
    border-bottom: solid rgb(255, 255, 255) 2px;
}

/* NAVIGATION */
/* EINDE NAVIGATION */

p {
    text-align: center;
    color: #ffffff;
}

h2 {
    padding-top: 100px;
    font-size: 60px;
    text-align: center;
    color: white;
    font-family: 'Inter',
        sans-serif;
    font-family: 'Lobster',
        cursive;
    font-family: 'Saira Stencil One',
        cursive;
}

.containerknop {
    padding-top: 0em;
    padding-bottom: 10em;
    width: 20%;
    height: 160px;
    background-color: rgba(160, 160, 160, 0.014);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
}


.containerknop li {
   font-family: 'Inter',
        sans-serif;
}



#sectie1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.backgroundticket {
    background-image: url(/assets/photos/buyticketbackground.png);
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1000px;
}

.containerflex {
    width: 90%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.containerflex1 {
    width: 25%;
    background-color: #ffffff;
    padding-bottom: 3em;
}

.containerflex1 p {
    line-height: 2em;
    padding-top: 1.5em;
    margin-left: 2em;
    margin-right: 2em;
    text-align: left;
    color: black;
    font-family: 'Catamaran', sans-serif;
}

.containerflex1 h3 {
    padding-top: 1.5em;
    margin-left: 1.1em;
    margin-right: 2em;
    text-align: left;
    font-size: 2em;
    border-bottom: black 2px solid;
    color: black;
    font-family: 'Saira Stencil One',
        cursive;
}

.containerflex2 {
    width: 25%;
    background-color: #ffffff;
    padding-bottom: 3em;
}

.containerflex2 p {
    line-height: 2em;
    padding-top: 1.5em;
    margin-left: 2em;
    margin-right: 2em;
    text-align: left;
    color: black;
    font-family: 'Catamaran', sans-serif;
}

.containerflex2 h3 {
    padding-top: 1.5em;
    margin-left: 1.1em;
    margin-right: 2em;
    text-align: left;
    font-size: 2em;
    border-bottom: black 2px solid;
    color: black;
    font-family: 'Saira Stencil One',
        cursive;
}

.containerflex3 {
    width: 25%;
    background-color: #ffffff;
    padding-bottom: 3em;
}

.containerflex3 h3 {
    padding-top: 1.5em;
    margin-left: 1.1em;
    margin-right: 2em;
    text-align: left;
    font-size: 2em;
    border-bottom: black 2px solid;
    color: black;
    font-family: 'Saira Stencil One',
        cursive;
}

.containerflex3 p {
    line-height: 2em;
    padding-top: 1.5em;
    margin-left: 2em;
    margin-right: 2em;
    text-align: left;
    color: black;
    font-family: 'Catamaran', sans-serif;
}

.button button{
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
    margin: 2em;
    padding-left: 1em;
    padding-right: 1em;
    width: 70%;
    height: 100%;
    text-align: center;
    cursor: pointer;
    font-size:24px;
    font-family: 'Saira Stencil One';
    position: relative;
    background-color: #ffffff;
    border: none;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    
     
 }
 
 
 
 .button button:hover{
    background:rgb(0, 0, 0);
    box-shadow:0px 2px 10px 5px #97B1BF;
    color:rgb(255, 255, 255);
 }
 
 .button button:after{
     content: "";
     background: #000000;
     display: block;
     position: absolute;
     opacity: 0;
     transition: all 0.8s
 }
 
 .button button:active:after{
    
     opacity: 1;
     transition: 0s
 }





footer {
    background-image: url(/assets/css/streetart2.jpg);
    background-size: cover;
    padding-top: 200px;
}

.sponsors {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    width: 50%;
}

.sponsor2 {
    width: 40%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000f1;
}

.tekstsponsor {
    color: white;
    font-size: 30px;
    padding: 100px;
    text-align: center;
}

.flex1 {
    width: 80%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 50px;
    padding-top: 100px;

}

.flex1 a {
    color: #d4d4d4;
    text-decoration: none;
}

.flex2 {
    width: 30%;
    height: 30px;
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
}

hr {
    width: 20%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(204, 194, 194, 0), rgba(230, 230, 230, 0.75), rgba(233, 222, 222, 0));
}

li {
    color: #fff;
    text-align: center;


}


.sponsors {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    width: 50%;
}

.sponsor2 {
    width: 40%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sponsor1, .sponsor2, .sponsor3{
    margin: 1em;
}

.flex {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000f1;
}

.tekstsponsor {
    color: white;
    font-size: 30px;
    padding: 100px;
    text-align: center;
}

.tekstsponsor p{
    font-family: 'Catamaran', sans-serif;
}

.flex1 {
    width: 80%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 50px;
    padding-top: 100px;

}

.flex1 a {
    color: #d4d4d4;
    text-decoration: none;
    
}

.flex2 {
    width: 30%;
    height: 30px;
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    font-family: 'Catamaran', sans-serif;
}

hr {
    width: 20%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(204, 194, 194, 0), rgba(230, 230, 230, 0.75), rgba(233, 222, 222, 0));
}

@media (max-width: 480px) {
    nav{
        height: 17%;
    }

   
    nav .mainMenu{
        
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: black;
        transition: top 1s ease;
        display: none;
    }

    nav .mainMenu .closeMenu{
        display: block;
        position: absolute;
        top: 20;
        right: 20px;
    }

    .logo img{
        margin-left: 0%;
        cursor: pointer;
        width: 30%;
        
    }

    nav .openMenu {
        display: block;
    }

    nav .mainMenu li a:hover{
        background: none;
        color: white;
        font-size: 1.6rem;
    }

    .icons{
        margin-right: 2.5em;
    }

    .icons i{
        
        display: inline-block;
        padding: 12px;
    }

    .tekstsponsor p{
        font-size: 15px;
        font-family: 'Catamaran', sans-serif;
    }
    .containerflex {
        width: 90%;
        display: inline-block;
        order: 2;
        align-items: center;
        justify-content: center;
        
        
    }
    .containerknop {
        padding-top: 0em;
        padding-bottom: 1em;
        width: 100%;
        height: 160px;
        background-color: rgba(160, 160, 160, 0.014);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        font-size: 20px;
    }

    .backgroundticket {
       
        height: 700px;
        padding-bottom: 1400px;
    }
    
    
    .containerknop li {
       font-family: 'Inter',
            sans-serif;
    }

    .containerflex1, .containerflex2, .containerflex3{
        width: 90%;
        margin: auto;
        padding-top: 2em;
        padding-bottom: 2em;
        margin-bottom: 3em;

    }

    
.button button{
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
    margin: 2em;
    padding-left: 1em;
    padding-right: 1em;
    width: 70%;
    height: 100%;
    text-align: center;
    cursor: pointer;
    font-size:24px;
    font-family: 'Saira Stencil One';
    position: relative;
    background-color: #ffffff;
    border: none;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    
     
 }
 
 
 
 .button button:hover{
    background:rgb(0, 0, 0);
    box-shadow:0px 2px 10px 5px #97B1BF;
    color:rgb(255, 255, 255);
 }
 
 .button button:after{
     content: "";
     background: #000000;
     display: block;
     position: absolute;
     opacity: 0;
     transition: all 0.8s
 }
 
 .button button:active:after{
    
     opacity: 1;
     transition: 0s
 }

 
     .tekstsponsor p{
        font-size: 15px;
        font-family: 'Catamaran', sans-serif;
    }

    .sponsors {
    display: inline;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
    width: 50%;

}

    .sponsor1, .sponsor2, .sponsor3 {
    margin: auto;
    width: 80%;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    }

    .sponsor1{
        margin-bottom: 6em;
    }

    .flex2 {
        font-size: 13px;
        font-family: 'Catamaran', sans-serif;
        width: 60%;
        margin: auto;
        height: 30px;
        padding-top: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        color: #fff;
    }
   
    .flex1 a{
        font-size: 0.5em;
    }

    #sectie1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
   
    }

    

    
}